@keyframes heading-1 {
  0% {
    opacity: 0;
    transform: translate(-10rem); }
  80% {
    transform: translate(1rem); }
  100% {
    opacity: 1;
    transform: tanslate(0); } }

@keyframes heading-2 {
  0% {
    opacity: 0;
    transform: translate(10rem); }
  80% {
    transform: translate(-1rem); }
  100% {
    opacity: 1;
    transform: tanslate(0); } }

@keyframes moveinbutton {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: tanslate(0); } }

.heading {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-1 {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.2rem;
    animation: heading-1;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
  .heading-2 {
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation: heading-2 2s ease-out; }
  .heading--box {
    position: absolute;
    top: 40px;
    left: 50px;
    text-align: center;
    transform: translate(32%, 50%); }

body {
  font-family: "Lato",sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777;
  padding: 1rem; }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  color: transparent;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, #161d6f, #09015f);
  -webkit-background-clip: text;
  letter-spacing: 0.5rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -10rem; }

.section-feature {
  padding: 20rem 0;
  margin-top: -10rem;
  background-image: linear-gradient(to right bottom, blue, rgba(0, 0, 255, 0.6)), url(../../IMG20200726185319.jpg);
  background-size: cover;
  transform: skewY(-7deg); }
  .section-feature > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem  0;
  margin-top: -10rem; }

.section-stories {
  margin-top: -15vh;
  position: relative;
  padding: 15rem  0; }

.empty_space {
  height: 17rem;
  width: auto;
  background-image: linear-gradient(to right bottom, blue, #09015f); }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  display: inline-block;
  transition: all .2S;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scalex(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveinbutton .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #09015f;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #09015f;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #161d6f;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 40%;
    box-shadow: 0 1.4rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 28%;
      top: 2rem; }
    .composition__photo--p3 {
      left: 16%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1rem solid blue;
      transform: scale(1.1) translateY(-0.5rem);
      box-shadow: 0 2.4rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: white;
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 5px;
    display: inline-block;
    background-image: linear-gradient(to right, #161d6f, #09015f);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    background-color: orangered;
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, purple, purple); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 26rem;
    background-blend-mode: color-burn;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(guitar_img.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(ANIMEIMG.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #7ed56f, #55c57a), url(game.jpg); }
  .card__heading {
    margin-top: 8rem;
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 6px; }
  .card__heading--span {
    color: transparent;
    -webkit-background-clip: text; }
    .card__heading--span--1 {
      background-image: linear-gradient(to right, #ffb900, #ff7730); }
    .card__heading--span--2 {
      background-image: linear-gradient(to right, #2998ff, #5643fa); }
    .card__heading--span--3 {
      background-image: linear-gradient(to right, purple, purple); }
  .card__cta {
    position: absolute;
    top: 10%;
    left: 10%;
    color: #fff;
    font-size: 2rem;
    letter-spacing: .2rem; }

.story {
  width: 75%;
  margin: 8rem auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .story__shape {
    width: 9rem;
    height: 9rem;
    background-color: orangered;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .30;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.footer {
  height: 30rem;
  padding-top: 5rem;
  background-color: #000000; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, blue, rgba(0, 0, 255, 0.6)), url(background.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh); }

.header-2 {
  height: 85vh;
  background-image: linear-gradient(to right bottom, #00171b, rgba(78, 141, 124, 0.6)), url(IMG_20210219_171812.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 10vh, 100% 100%, 0 75vh); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) /  2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
