.composition{
    position: relative;
    &__photo{
        width: 40%;
        box-shadow: 0 1.4rem 4rem rgba($black,.4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        outline-offset: 2rem;
         &--p1{
            left: 0;
            top: -2rem;
           }
         &--p2{
            right: 28%;
            top: 2rem;
        }
        &--p3{
            left: 16%;
            top: 10rem;
        }
        &:hover{
            outline: 1rem solid $blue;
            transform: scale(1.1) translateY(-.5rem);
            box-shadow: 0 2.4rem 4rem rgba($black,.5);       
            z-index: 20;
        }
    }
        &:hover &__photo:not(:hover){
            transform: scale(.9);
     }

    
}