.heading{
    color: $white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
    &-1{

      display:block;
      font-size: 3rem;
      font-weight: 400;
      letter-spacing:  3.5rem;


      animation-name: heading-1;
      animation-duration: 2s;
      animation-timing-function: ease-out;
        

      @include respond(phone) {
        letter-spacing: 1rem;
        font-family: 5rem;
    }
     
    }
    
    &-2{
        display:block;
        font-size: 1.5rem;
        font-weight:400;
        letter-spacing:1.5rem;
        animation: heading-2 2s ease-out;
        @include respond(tab-port){              // width=< 900px
            letter-spacing: 5rem;
            font: size 1.2rem; ;
        }
        @include respond(tab-land){              // width=< 900px
            letter-spacing: 1rem;
            font-size: 1rem;
        }
        
        @include respond(phone){
            letter-spacing: .5rem;
            font-size: .8rem;
        }
     
    
    }
    &--box{
        position:absolute;
        top: 40%;
        left: 50%;
        text-align: center;
        transform: translate(-50%,-50%);
        
    }
   }
   body {
    font-family: "Lato",sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $gray;
    padding: 1rem;
 }
.heading-secondary{
    font-size: 3.5rem;
    font-weight: 700;
    color:transparent;
    text-transform: uppercase;
    display:inline-block;
    background-image: linear-gradient(to right ,$blue-2,$blue-3);
    -webkit-background-clip:text;
    letter-spacing:0.5rem;
    transition: all .2s;
    @include respond(tab-port){
    font-size: 2.5rem;        
    }

    @include respond(phone){
        font-size: 2rem;
    }
    &:hover{
       transform:skewY(2deg)skewX(15deg); 
    }
 
}
.heading-tertiary{
    font-size: $default-fontsize;
    font-weight: 700;
    text-transform: uppercase;    
}
.paragraph{
    font-size: $default-fontsize;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}
