.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom , 
    rgba($blue,1),
    rgba($blue,0.6)),
    url(background.jpg);
    background-size: cover;
    background-position:top;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
}
.header-2{
  height: 85vh;
  background-image:linear-gradient(to right bottom,
  rgb(0, 23, 27),
  rgba(78, 141, 124,0.6)), 
  url(IMG_20210219_171812.jpg);
  background-size: cover;
  background-position:top;
  clip-path: polygon(0 0, 100% 10vh, 100% 100%, 0 75vh);
}